
.carousel{
    width: 75%;
}
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgb(253, 24, 24);
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}
.carousel-indicators .active {
    opacity: 6;
}
.carousel-control-next, .carousel-control-prev{
    width: 8% !important;
}


.content2 #search {
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
    margin-bottom: 10px;
    padding: 5px;
}
.col-12{
    
    display: inline-block;
}

.container .category{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #607d8b;;
}

.container .category .item{
    border-bottom: 1px solid #607d8b;
    font-size: 1.2em;
    padding: 5px;
}

.content2 .category .item:last-child{
    border: none;
}
.stock {
    background-color: antiquewhite;
    overflow: hidden;
}

.stock .col-3 {
    padding: 10px;
}

.stock .stock-items {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}
.stock .stock-items img {
    width: 100%;
}
.row1{
    float: left;
}



.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    display: inline-block;
    width: 24.99%;
}
.col-4 {
    width: 33.32%;
}
.col-5 {
    width: 41.65%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.35%;
}
.col-8 {
    width: 66.68%;
}
.col-9 {
    width: 75.01%;
}
.col-10 {
    width: 83.34%;
}
.col-11 {
    width: 91.67%;
}
.col-12 {
    width: 100%;
}