#duymeler{
    padding: 15px;
    border-bottom: 1px solid rgb(177 158 158 / 37%);
    border-top: 1px solid rgb(177 158 158 / 37%);
    margin: 6px;
}
.carousel{
    margin-top: 12px;
    width: 75%;
    margin: auto;
}
.carousel-indicators button{
    margin-left: 10px;
    height: 10px;
}

.carousel-control-next, .carousel-control-prev{
    width: 9% !important;
    background-color: coral;
}